body{
  background: #898989;
}

.pokemon-add-modal{
  // display: block;
  margin: 2em auto;
  width: 75%;
  background: white;
  box-shadow: 0 0 15px 1px #474747;
}

.pokemon-list, .pokemon-quickview{
  // display: block;
  width: 100%;
}

.pokemon-quickview{
  height: 260px;
  padding: 1em;
  box-sizing: border-box;
  position: relative;

  .loader{
    width: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1{
    text-align: center;
    text-transform: capitalize;
  }
}

#pokemonListWrapper{
  max-height: 50vh;
  overflow: scroll;
}

#pokemonInfo{
  display: inline-block;
  width: 49%;
  text-align:center;

  img{
    width: 50%;
  }

  ul{
    text-align: left;

    li{
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
      }
  } 
}

#pokemonStatsInfo{
  display: inline-block;
  width: 49%;
}

.pokemon-list{
  input{
    display: block;
    width: 98%;
    margin: 1em auto;
    height: 25px;
    padding: 1.5em;
    box-sizing: border-box;
  }

  table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }

  table th{
    text-align: left;
    font-size: 14px;
  }

  table th:nth-child(1){
    text-align: center;
  }

  table tr{
    border-bottom: 1px solid #eee;
  }

  table td:nth-child(1){
    text-align: center;
    background: #FBFBFB;
  }

  table tr:not(:first-child):hover{
    background: #fbfbfb;
    cursor: pointer;
  }

  table tr:not(:first-child):active{
    color: #D1D1D1;
  }
}
