body {
  background: #898989; }

.pokemon-add-modal {
  margin: 2em auto;
  width: 75%;
  background: white;
  box-shadow: 0 0 15px 1px #474747; }

.pokemon-list, .pokemon-quickview {
  width: 100%; }

.pokemon-quickview {
  height: 260px;
  padding: 1em;
  box-sizing: border-box;
  position: relative; }
  .pokemon-quickview .loader {
    width: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .pokemon-quickview h1 {
    text-align: center;
    text-transform: capitalize; }

#pokemonListWrapper {
  max-height: 50vh;
  overflow: scroll; }

#pokemonInfo {
  display: inline-block;
  width: 49%;
  text-align: center; }
  #pokemonInfo img {
    width: 50%; }
  #pokemonInfo ul {
    text-align: left; }
    #pokemonInfo ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }

#pokemonStatsInfo {
  display: inline-block;
  width: 49%; }

.pokemon-list input {
  display: block;
  width: 98%;
  margin: 1em auto;
  height: 25px;
  padding: 1.5em;
  box-sizing: border-box; }

.pokemon-list table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-size: 14px; }
  .pokemon-list table .type {
    display: block;
    text-align: center;
    width: 60%; }

.pokemon-list table th {
  text-align: left;
  font-size: 14px; }

.pokemon-list table th:nth-child(1) {
  text-align: center; }

.pokemon-list table tr {
  border-bottom: 1px solid #eee; }

.pokemon-list table td:nth-child(1) {
  text-align: center;
  background: #FBFBFB; }

.pokemon-list table tr:not(:first-child):hover {
  background: #fbfbfb;
  cursor: pointer; }

.pokemon-list table tr:not(:first-child):active {
  color: #D1D1D1; }

.type {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-transform: lowercase; }
  .type.grass {
    background: #89D24E; }
  .type.poison {
    background: #AB5EA3; }
  .type.normal {
    background: #BEBEAE; }
  .type.ground {
    background: #E7C755; }
  .type.rock {
    background: #CDBC71; }
  .type.steel {
    background: #C4C2DB; }
  .type.ice {
    background: #96F1FF; }
  .type.flying {
    background: #8AACF5; }
  .type.ghost {
    background: #615CC9; }
  .type.psychic {
    background: #FA65B3; }
  .type.fairy {
    background: #FAAFFF; }
  .type.electric {
    background: #FDE33C; }
  .type.bug {
    background: #C0D021; }
  .type.water {
    background: #56ACFF; }
  .type.dark {
    background: #533F34; }
  .type.fire {
    background: #FA5442; }
  .type.fighting {
    background: #A95648; }
  .type.dragon {
    background: #8975FF; }
