@font-face {
  font-family: "Pokemon Pixel Font Regular";
  src: url("../fonts/pokemon_pixel_font.eot?") format("eot"), url("../fonts/pokemon_pixel_font.woff") format("woff"), url("../fonts/pokemon_pixel_font.ttf") format("truetype"), url("../fonts/pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box; }

.hide {
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none; }

.hidden {
  opacity: 0; }

.show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: auto; }

.invisible {
  visibility: hidden; }

body {
  background: #898989; }

header {
  background-image: linear-gradient(-180deg, #464646 0%, #000000 100%);
  height: 100px;
  max-width: 600px;
  margin: 0 auto;
  min-width: 300px; }
  header img {
    width: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#teamStage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  min-width: 300px; }
  #teamStage .stage-component {
    background: #eee;
    width: 33.33%;
    height: 150px;
    border: 1px solid #898989;
    text-align: center; }
    #teamStage .stage-component img {
      height: 80%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0; }
    #teamStage .stage-component:hover {
      cursor: pointer;
      background: #fff; }

#pokemon-add-modal {
  margin: 1em auto;
  display: block;
  width: 90%;
  min-width: 300px;
  max-width: 350px;
  background: white;
  box-shadow: 0 0 15px 1px #474747;
  position: absolute;
  left: 0;
  right: 0;
  top: 1%;
  z-index: 9999; }
  #pokemon-add-modal #modal-close-button {
    cursor: pointer;
    margin: 2px 2px 0 0;
    padding: 5px;
    z-index: 999;
    position: absolute;
    right: 2px;
    top: 1px; }

#pokemon-list, #pokemon-quickview {
  display: block;
  width: 100%; }

#pokemon-quickview {
  height: 240px;
  padding-top: 1em;
  box-sizing: border-box;
  position: relative; }
  #pokemon-quickview .loader {
    width: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  #pokemon-quickview h1 {
    text-align: center;
    text-transform: capitalize;
    margin: -5px 0 10px 0;
    color: #6B6B6B;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: "Pokemon Pixel Font Regular"; }

#pokemonListWrapper {
  max-height: 41vh;
  overflow: scroll; }

#pokemonInfo {
  float: left;
  width: 40%;
  text-align: center; }
  #pokemonInfo img {
    width: 100%;
    max-width: 90px;
    animation: .5s ease-in-out 0s fadeIn;
    margin: 0px auto 5px auto;
    display: block; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #pokemonInfo ul {
    padding: 0;
    margin: 0; }
    #pokemonInfo ul li {
      list-style-type: none;
      display: inline-block; }
      #pokemonInfo ul li .type {
        font-size: 7px; }
    #pokemonInfo ul li:nth-child(1) {
      margin-right: 5px; }

#pokemonStatsInfo {
  float: left;
  width: 55%;
  background: #F4F3F3;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #EDEDED; }
  #pokemonStatsInfo div:first-of-type {
    margin-left: 5px; }
  #pokemonStatsInfo div {
    position: relative;
    width: 10%;
    min-width: 13px;
    font-size: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center; }
    #pokemonStatsInfo div:after {
      font-size: 8px;
      position: absolute;
      left: 0px;
      bottom: -11px;
      color: #898989; }
    #pokemonStatsInfo div span {
      margin-left: 0 !important;
      position: relative;
      top: -15px;
      font-weight: bold;
      font-size: 11px;
      color: #6B6B6B; }
  #pokemonStatsInfo div:last-of-type {
    margin-right: 5px; }
  #pokemonStatsInfo div:nth-child(1) {
    background: #D0011B;
    border: 1px solid #95091A; }
    #pokemonStatsInfo div:nth-child(1):after {
      content: "HP"; }
  #pokemonStatsInfo div:nth-child(2) {
    background: #F6A623;
    border: 1px solid #BA7910; }
    #pokemonStatsInfo div:nth-child(2):after {
      content: "Atk"; }
  #pokemonStatsInfo div:nth-child(3) {
    background: #F8E81C;
    border: 1px solid #B8AC14; }
    #pokemonStatsInfo div:nth-child(3):after {
      content: "Def"; }
  #pokemonStatsInfo div:nth-child(4) {
    background: #7ED321;
    border: 1px solid #5BA609; }
    #pokemonStatsInfo div:nth-child(4):after {
      content: "SpA"; }
  #pokemonStatsInfo div:nth-child(5) {
    background: #4990E2;
    border: 1px solid #2368B8; }
    #pokemonStatsInfo div:nth-child(5):after {
      content: "SpD"; }
  #pokemonStatsInfo div:nth-child(6) {
    background: #ED94FF;
    border: 1px solid #D24BED; }
    #pokemonStatsInfo div:nth-child(6):after {
      content: "Spe"; }

#pokemonAdd {
  text-align: center;
  float: left;
  clear: left;
  width: 100%;
  margin-top: 20px; }
  #pokemonAdd:after {
    content: " ";
    border-top: 1px solid #D8D8D8;
    width: 100%;
    display: block;
    height: 1px;
    position: relative;
    top: -15px;
    z-index: 1; }
  #pokemonAdd a {
    border: 1px solid #7ED321;
    background: #fff;
    display: block;
    padding: 7px 0px;
    width: 50%;
    margin: 10px auto 0 auto;
    border-radius: 50px;
    text-decoration: none;
    color: #417505;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    z-index: 2;
    text-indent: 10px; }
    #pokemonAdd a:after {
      content: " ";
      width: 11px;
      height: 11px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin-left: 5px;
      background-image: url("../images/plus-glyph.png");
      background-size: 100%; }
    #pokemonAdd a:active, #pokemonAdd a:hover {
      background-color: #eee; }

#pokemon-list {
  text-align: center; }
  #pokemon-list input {
    display: block;
    width: 93%;
    margin: 1em auto;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 0 0 #ECECEC;
    border-radius: 3px;
    font-size: 13px;
    color: #898989;
    padding: 10px; }
  #pokemon-list p {
    padding-bottom: 10px; }
  #pokemon-list table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    text-align: left; }
    #pokemon-list table .type {
      display: block;
      text-align: center;
      width: 85%;
      padding: 3px 4px;
      font-size: 7px; }
  #pokemon-list table th {
    text-align: left;
    font-size: 14px;
    text-align: center; }
    #pokemon-list table th:nth-child(3) {
      text-align: left; }
  #pokemon-list table tr {
    border-bottom: 1px solid #eee;
    font-size: 12px; }
  #pokemon-list table td {
    max-width: 65px; }
  #pokemon-list table td:nth-child(1) {
    text-align: center;
    background: #FBFBFB; }
  #pokemon-list table td:nth-child(2) {
    text-align: center; }
  #pokemon-list table tr:hover {
    background: #fbfbfb;
    cursor: pointer; }
  #pokemon-list table tr:not(:first-child):active {
    color: #D1D1D1; }

.type {
  border-radius: 11px;
  padding: 3px 9px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px; }
  .type.grass {
    background: #89D24E; }
  .type.poison {
    background: #AB5EA3; }
  .type.normal {
    background: #BEBEAE; }
  .type.ground {
    background: #E7C755; }
  .type.rock {
    background: #CDBC71; }
  .type.steel {
    background: #C4C2DB; }
  .type.ice {
    background: #96F1FF; }
  .type.flying {
    background: #8AACF5; }
  .type.ghost {
    background: #615CC9; }
  .type.psychic {
    background: #FA65B3; }
  .type.fairy {
    background: #FAAFFF; }
  .type.electric {
    background: #FDE33C; }
  .type.bug {
    background: #C0D021; }
  .type.water {
    background: #56ACFF; }
  .type.dark {
    background: #533F34; }
  .type.fire {
    background: #FA5442; }
  .type.fighting {
    background: #A95648; }
  .type.dragon {
    background: #8975FF; }
