.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}

body{
  background: #898989;
}
.pokemon-add-modal{
  // display: block;
  margin: 2em auto;
  width: 75%;
  background: white;
  box-shadow: 0 0 15px 1px #474747;
  border-radius: 4px;
  padding-bottom: 2em;
  position: relative;

  .modal-close-button{
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    margin: 2px 2px 0 0;
    padding: 8px 10px;
    position: relative;
    z-index: 999;
  }
}

.pokemon-list, .pokemon-quickview{
  display: block;
  width: 100%;
}

.pokemon-quickview{
  height: 260px;
  padding: 1em;
  box-sizing: border-box;
  position: relative;

  .loader{
    width: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1{
    text-align: center;
    text-transform: capitalize;
  }
}

#pokemonListWrapper{
  max-height: 50vh;
  overflow: scroll;
}

#pokemonInfo{
  float: left;
  width: 49%;
  text-align:center;

  img{
    width: 50%;
    max-width: 100px;
    animation: .5s ease-in-out 0s fadeIn;
  }

  @keyframes fadeIn{ from{opacity: 0;} to {opacity: 1;}}

  ul{
    text-align: left;

    li{
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
      }
  } 
}

#pokemonStatsInfo{
  float: left;
  width: 49%;
  background: #eee;
  height: 65%;
  display: flex;
  align-items: flex-end;

  div:first-of-type{
    margin-left: 10px;
  }

  div{
    display:inline-block;
    background:salmon;
    margin-right:5px;
    position:relative;
    width:15%;
  }

  div:last-of-type{
    margin-right: 10px;
  }
}

#pokemonAdd{
  text-align: center;
  border: 1px solid red;
  float: left;
}

.pokemon-list{
  text-align: center;

  input{
    display: block;
    width: 98%;
    margin: 1em auto;
    height: 25px;
    padding: 1.5em;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 10px #D2D2D2;
    border: 1px solid #D2D2D2;
  }

  table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;

    .type{
      display: block;
      text-align: center;
      width: 60%;
    }
  }

  table th{
    text-align: left;
    font-size: 14px;
  }

  table th:nth-child(1){
    text-align: center;
  }

  table tr{
    border-bottom: 1px solid #eee;
  }

  table td:nth-child(1){
    text-align: center;
    background: #FBFBFB;
  }

  table tr:not(:first-child):hover{
    background: #fbfbfb;
    cursor: pointer;
  }

  table tr:not(:first-child):active{
    color: #D1D1D1;
  }
}

.type{
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px #000;
  text-transform: lowercase;

  &.grass{
    background: #89D24E;
  }

  &.poison{
    background: #AB5EA3;
  }

  &.normal{
    background: #BEBEAE;
  }

  &.ground{
    background: #E7C755;
  }

  &.rock{
    background: #CDBC71;
  }

  &.steel{
    background: #C4C2DB;
  }

  &.ice{
    background: #96F1FF;
  }

  &.flying{
    background: #8AACF5;
  }

  &.ghost{
    background: #615CC9;
  }

  &.psychic{
    background: #FA65B3;
  }

  &.fairy{
    background: #FAAFFF;
  }

  &.electric{
    background: #FDE33C;
  }

  &.bug{
    background: #C0D021;
  }

  &.water{
    background: #56ACFF;
  }

  &.dark{
    background: #533F34;
  }

  &.fire{
    background: #FA5442;
  }

  &.fighting{
    background: #A95648;
  }

  &.dragon{
    background: #8975FF;
  }
}
