body {
  background: #898989; }

.pokemon-add-modal {
  margin: 2em auto;
  width: 75%;
  background: white;
  box-shadow: 0 0 15px 1px #474747; }

.pokemon-list, .pokemon-quickview {
  width: 100%; }

.pokemon-quickview {
  height: 260px;
  padding: 1em;
  box-sizing: border-box;
  position: relative; }
  .pokemon-quickview .loader {
    width: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .pokemon-quickview h1 {
    text-align: center;
    text-transform: capitalize; }

#pokemonListWrapper {
  max-height: 50vh;
  overflow: scroll; }

#pokemonInfo {
  display: inline-block;
  width: 49%;
  text-align: center; }
  #pokemonInfo img {
    width: 50%; }
  #pokemonInfo ul {
    text-align: left; }
    #pokemonInfo ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }

#pokemonStatsInfo {
  display: inline-block;
  width: 49%; }

.pokemon-list input {
  display: block;
  width: 98%;
  margin: 1em auto;
  height: 25px;
  padding: 1.5em;
  box-sizing: border-box; }

.pokemon-list table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto; }

.pokemon-list table th {
  text-align: left;
  font-size: 14px; }

.pokemon-list table th:nth-child(1) {
  text-align: center; }

.pokemon-list table tr {
  border-bottom: 1px solid #eee; }

.pokemon-list table td:nth-child(1) {
  text-align: center;
  background: #FBFBFB; }

.pokemon-list table tr:not(:first-child):hover {
  background: #fbfbfb;
  cursor: pointer; }

.pokemon-list table tr:not(:first-child):active {
  color: #D1D1D1; }
