pokemon-list, pokemon-quickview{
  display: block;
}

#pokemonListWrapper{
  height: 70vh;
  overflow: scroll;
}

pokemon-list{
  input{
    width: 100%;
    margin: 1em 0;
    height: 25px;
    padding: 10px;
  }

  table{
    border-collapse: collapse;
    width: 100%;
  }

  table th{
    text-align: left;
    font-size: 14px;
  }

  table th:nth-child(1){
    text-align: center;
  }

  table tr{
    border-bottom: 1px solid #eee;
  }

  table td:nth-child(1){
    text-align: center;
    background: #FBFBFB;
  }

  table tr:not(:first-child):hover{
    background: #fbfbfb;
    cursor: pointer;
  }

  table tr:not(:first-child):active{
    color: #D1D1D1;
  }
}
